
.activeThing{
    display: block;
}

.inactiveThing{
    display: none;
}

a, input[type=radio], select, label{
    cursor: pointer;
}

.messageSuccess{
    display: block;
    color: green;
    font-weight: 600;
}

.messageFail{
    display: block;
    color: red;
    font-weight: 600;
}

.card-body{
    text-align: center;
}

.statistic-card{
    margin-left: 15px;
}

hr{
    border: 1px solid #44BBFF;
    margin-top: 30px;
    margin-bottom: 30px;
}

.spaceDiv-md{
    padding-top: 60px;
    padding-bottom: 60px;
}

.previewPostBtn{
    margin-left: 30px;
}

.previewImage{
    width: 100px;
    height: 100px;
}

.uploadingLoader{
    width: 50px;
    margin-left: 15px;
}

.divWithLineBreaks{
    white-space: pre-wrap;
}

.btn.disabled, .btn:disabled {
    opacity: 0.35 !important;
}

.loadingMoreLoaderImg{
    width: 150px;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 80%;
        max-width:1200px;
    }
}